.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ra {
  display: inline-block;
  font-family: 'rpg-awesome';
}

.icon-spin {
  animation: spin 2s linear infinite;
}

.icon-flip {
  transform: scaleX(-1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
